body {
    overflow-x: hidden !important;
}

.home-category-item-avatar {
    width: 160px !important;
    height: 160px !important;
}

.home-product-sell-item-img {
    width: 216px !important;
    height: 167px !important;
    object-fit: cover;
    object-position: center;
}

.home-post-item-img-container {
    overflow-y: hidden !important;
}

.home-post-item-img {
    width: 100% !important;
    max-width: 100% !important;
    height: 241px !important;
    object-fit: cover;
    object-position: center;
}

.home-banner {
    color: white !important;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

.bottom-banner-title {
    font-size: 2.2rem !important;
}

.bottom-banner-app-title {
    font-size: 5rem !important;
    font-weight: 800;
}

.bottom-banner-subtitle {
    font-size: 1rem !important;
    font-weight: 700;
}

.bottom-banner-description {
    font-size: 15px !important;
    font-weight: 700;
}

.breadcrumb {
    background: #f2faf2;
    padding: 10px 30px;
}

.product-details-service-title {
    font-size: 16px !important;
    font-weight: bold;
}

.product-details-service-description {
    font-size: 12px !important;
}

.related-articles-title {
    background: #f2faf2;
    padding: 10px 30px;
}

.article-image-container {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100%;
    background: #f8fcf8;
    overflow: hidden;
}

.article-image {
    width: 100%;
    max-width: 30rem !important;
    height: 30rem !important;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.about-image-container {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100%;
    background: #f8fcf8;
    overflow: hidden;
}

.about-image {
    width: 100%;
    max-width: 30rem !important;
    height: 30rem !important;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.contact-form-control {
    border: solid 1px #e1e1e1;
    background-color: transparent;
    border-radius: 0px !important;
}

.contact-us-form {
    background-color: #f1faf1;
    padding: 25px;
}

.contact-us-form-title {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-btn-block {
    width: 100% !important;
    border-radius: 0px !important;
    margin-top: 15px;
}

.page-nav-item:hover {
    color: #6bb252 !important;
}

.page-nav-item:focus {
    color: white !important;
}

.blog-aside-section {
    background-color: #f1faf1;
    padding: 30px 20px;
    margin: 10px 0px;
}

.blog-search-post-form {
    background-color: white;
    padding: 25px;
}

.blog-search-post-form h5 {
    font-size: 18px;
}

.blog-news-letter-section {
    background-color: white;
    padding: 18px;
}

.blog-news-letter-section h5 {
    font-size: 15px !important;
    font-weight: 700;
}

.blog-categories-section {
    margin-top: 40px;
}

.blog-aside-section-category-link {
    text-decoration: none;
}

.blog-aside-section-category-link:hover {
    color: #6bb252;
}

.custom-post-title:hover {
    color: #6bb252 !important;
}

.post-img-container {
    overflow-y: hidden !important;
    padding: 25px;
    // background-color: #f1faf1;
}

.post-img {
    width: 100% !important;
    max-width: 100% !important;
    height: 441px !important;
    object-fit: fill;
    object-position: center;
}

.article-title-link {
    text-decoration: underline !important;
}

.article-title-link:hover {
    color: #6bb252 !important;
}

.text-underline {
    text-decoration: underline;
}

.text-muted {
    color: #b3b5b3;
}

.article-featured-container {
    position: absolute;
    top: 35px;
    left: 0px;
    padding: 5px 10px;
    background-color: #6cb252c1;
    color: white;
    text-align: center;
    font-size: 13px;
    z-index: 40;
}

.post-container {
    min-height: 100% !important;
}

.toast {
    position: fixed;
    top: 30px !important;
    right: 20px;
    background: rgb(225, 247, 229);
    color: var(--jobrelais-green);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 50;
    font-weight: 700;
    font-size: 14px !important;
}

.error-toast {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: rgb(247, 225, 225);
    color: var(--text-red-accent);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    display: block;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 50;
}

.toast-content-div {
    display: flex;
    align-items: center !important;
    justify-content: center;
    gap: 10px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 13px;
    color: white;
}

.success-icon {
    background-color: #4caf50;
}

.error-icon {
    background-color: #f44336;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.article-is-liked-container {
    position: absolute;
    bottom: 0;
    left: 0;
    // right: 0;
    //  top: 0;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #c41c1ccf;
    text-align: center;
    font-size: 13px;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-wrapper {
    margin: 0;
    width: 70%;
    padding: 0px 25px 10px;
    position: relative;
    left: 63px;
}

/* Styles for the price input container */
.price-input-container {
    width: 100%;
}

.price-input .price-field {
    display: flex;
    margin-bottom: 22px;
}

.price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 17px;
}

.price-field input {
    flex: 1;
    height: 35px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    border-radius: 9px;
    text-align: center;
    border: 0px;
    background: #e4e4e4;
}

.price-input {
    width: 100%;
    font-size: 19px;
    color: #555;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    height: 6px;
    position: relative;
    background: #e4e4e4;
    border-radius: 5px;
}

.slider-container .price-slider {
    height: 100%;
    left: 25%;
    right: 15%;
    position: absolute;
    border-radius: 5px;
    background: #6bb252;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
    .custom-wrapper {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .projtitle {
        width: 100%;
        position: relative;
        right: 26px;
    }

    .price-input {
        flex-direction: column;
        align-items: center;
    }

    .price-field {
        margin-bottom: 10px;
    }
}

.filters-container {
    background-color: #f2faf2;
    padding: 20px !important;
    margin: 30px 0px;
}

.form-group {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.shop-search-container {
    padding: 30px !important;
    background-color: #f2faf2;
}
